body {
    background-color: black
}

.ball {
    width: 51.6px;
    height: 51.6px;
    /* border-radius: 0 25px 10px 25px; */
    border-width: 1px;
    border-color: red green orange Orchid;
    border-style: solid;
    border-radius: 0 36.4px 10px 36.4px;
}