body {
    background-color: white;
    /*background: url("http://wallpoper.com/images/00/29/92/77/abstract-hexagons_00299277.jpg");*/
    background-repeat: no-repeat;
}

#menu {
    position:  absolute;
    border: thin solid black;
}

.menuButton {
    background: url("../images/menu.png");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    position: absolute;
}

.wrapper1 {
    -webkit-transition: transform 1s;
    position:  absolute;
    -webkit-transform: rotate(-270deg);
    /*border: thin solid red;*/
}
.wrapper2 {
    -webkit-transition: transform 1s;
    position:  absolute;
    -webkit-transform: rotate(-30deg);
    /*border: thin solid green;*/
}
.wrapper3 {
    -webkit-transition: transform 1s;
    position:  absolute;
    -webkit-transform: rotate(-150deg);
    /*border: thin solid blue;*/
}

.wrapper1 .menuItem {
    position:  absolute;
    background: green;
    /*background: url("http://99covers.com/covers/watermark/23766.jpg");*/
}
.wrapper2 .menuItem {
    position:  absolute;
    background: green; 
    /*background: url("http://99covers.com/covers/watermark/23766.jpg");*/
}
.wrapper3 .menuItem {
    position:  absolute;
    background: green; 
    /*background: url("http://99covers.com/covers/watermark/23766.jpg");*/
}






/* NEW Better "trapezoid" path shape
* It's easier and ACTUALLY works
*/
.rotate300 .pathFromItemToText {
    /*visibility: hidden;*/
  /*background-color: rgba(100,100,100,.5);  */
    position: absolute;
    -webkit-transform-origin: 0% 100%;
    -webkit-transform: rotate(120deg); 
}
.rotate180 .pathFromItemToText {
  /*background-color: rgba(100,100,100,.5);  */
    position: absolute;   
}

.angledLine {
    position: absolute;
    /*background: #00FF00;*/
    visibility: hidden;
    -webkit-transform-origin: 100% 0%;
    -webkit-transform: rotateZ(-45deg);
}

.angledInner {
    visibility: hidden;
    background: #00FF00;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: rotateY(90deg);
    -webkit-transition: transform .7s;
}

.straightLine {
    visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: rotateY(90deg);
    -webkit-transition: transform .7s;
    position: absolute;
    background: #00FF00;
}

/* Working on "growing" pathLine
* As if it's appearing
*/
html:hover .angledInner {
    visibility: visible;
    -webkit-transition-delay: .3s;
    -webkit-transform: rotateY(0deg);
}
html:hover .straightLine {
    visibility: visible;
    -webkit-transition-delay: .7s;
    -webkit-transform: rotateY(0deg);
}

/*  Inserting text for each menu now
    and handling animations. */
.alienText {
    opacity: 0;
    position: absolute;
    -webkit-filter: invert(100%);
    left: 210px;
    -webkit-transition: opacity 0;
}
html:hover .alienText {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -webkit-transition-delay: 1.1s;
}

/* Straight path, much more basic */
.straightPath {
    visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: rotateY(90deg);
    -webkit-transition: transform 1.4s;
    position: absolute;
    background: #00FF00;
    -webkit-transform: rotateZ(-60deg); 
}
html:hover .straightPath {
    visibility: visible;
    -webkit-transition-delay: .3s;
    -webkit-transform: rotateY(0deg) rotateZ(-60deg);
}
/* just quick rotate example, fix tomorrow... dude for real
    just do the math, dont' be lazy.... you waste time that way */



.item {
    /*border-radius: 0 20px 50px 20px;*/
    background: Pink;
    position: absolute;
    border-radius: 50px;
/*    margin-top: 32px;
    margin-left: 32px;*/
}
/* Have to rotate menuItems opposite of wrapper to compensate */
.rotate180 .item {
    -webkit-transform: rotate(180deg);
}
.rotate240 .item {
    -webkit-transform: rotate(240deg);
}
.rotate300 .item {
    -webkit-transform: rotate(300deg);
}


.menuItem {
    -webkit-transform: rotate(30deg);

}


#checkForVal {
    z-index: 900;
    position: absolute;
}









/* All connector css here */

.connectorContainer {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-origin: 0% 0%;     
}

.connectorContainer .connector:nth-child(2) {
    visibility: hidden;
    -webkit-transform-origin: 0% 100%; 
    /*-webkit-transform: rotateZ(-45deg) rotateY(90deg);*/
    -webkit-transform: rotate3d(0, 0, 1, -45deg) rotate3d(0, 1, 0, 90deg);
    -webkit-transition: transform .7s;    
    -webkit-transition-delay: .7s;
}

#openOrClosed:checked ~ .menuItemWrapper .connector:nth-child(2) {
    visibility: visible;    
    -webkit-transform: rotate3d(0, 0, 1, -45deg) rotate3d(0, 1, 0, 0deg); 
}

.connectorContainer .connector:nth-child(1) {
    visibility: hidden;    
    -webkit-transform-origin: 0% 100%; 
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    -webkit-transition: transform .7s;    
    -webkit-transition-delay: .3s;
}

#openOrClosed:checked ~ .menuItemWrapper .connector:nth-child(1) {
    visibility: visible;    
    -webkit-transform: rotate3d(0, 1, 0, 0deg); 
}



.menuItemWrapper:nth-of-type(3n) .connector {
    /*visibility: hidden;      */
    -webkit-transition-delay: .7s;
    /*-webkit-transition: transform 2.0s;*/
}


.menuText {
    opacity: 0;
    -webkit-transition: opacity 0; 
    -webkit-transition: opacity 1s;
    -webkit-transition-delay: .9s;       
}
#openOrClosed:checked ~ .menuItemWrapper .menuText {
    opacity: 1;
}



.connector {
    position: relative;
    height: 6%;
    background-color: green;
    padding-top: 1px;
    margin-top: -1px;
}    



/* All percentages for connectors, so we don't have to calculate them
    via js, too slow for mobile */
.conFive {
    width: 50%;
}
.conSevenFive {
    width: 75%;
}
.conOne {
    width: 100%;
/*    visibility: hidden;
    -webkit-transform: translate();*/
    /*-webkit-transform-origin: 0% 50%;*/
    /*-webkit-transform: rotateZ(90deg);*/
    /*-webkit-transition: transform .7s;    */
}
.conOneFive {
    width: 150%;
}
.conTwo {
    width: 200%;
}




#openOrClosed:checked ~ .menuItemWrapper .conOne {
/*    width: 100%;
    visibility: visible;*/
/*    -webkit-transition-delay: .3s;    
    -webkit-transform: rotateZ(0deg);*/  
}
/*    visibility: visible;
    -webkit-transition-delay: .3s;
    -webkit-transform: rotateY(0deg);*/

.angledInner {
    visibility: hidden;
    background: #00FF00;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: rotateY(90deg);
    -webkit-transition: transform .7s;
}

#openOrClosed:checked ~ .rotate300{
    -webkit-transform: rotate(-300deg);
}
#openOrClosed:checked ~ .rotate360{
    -webkit-transform: rotate(-360deg);
}
#openOrClosed:checked ~ .rotate420{
    -webkit-transform: rotate(-420deg);
}


#openOrClosed:checked ~ .rotate60{
    -webkit-transform: rotate(-60deg);
}
#openOrClosed:checked ~ .rotate120{
    -webkit-transform: rotate(-120deg);
}
#openOrClosed:checked ~ .rotate180{
    -webkit-transform: rotate(-180deg);
}

#openOrClosed:checked ~ .rotate240{
    -webkit-transform: rotate(-240deg);
}

/* Lazy, default to fixed size for now */
.menuText {
    width: 60px;
    height: 60px;
    margin-left: 100%;
    margin-top: -30px;
    text-align:center;    
}


.wrapper1.rotate300 .menuText {
    -webkit-transform: rotate(-225deg);
}
.wrapper1.rotate360 .menuText,
.wrapper1.rotate420 .menuText {
    -webkit-transform: rotate(-180deg);
}
.wrapper2.rotate60 .menuText {
    -webkit-transform: rotate(-90deg);    
}

.wrapper2.rotate120 .menuText,
.wrapper2.rotate180 .menuText {
    -webkit-transform: rotate(-45deg); 
}
.wrapper3.rotate180 .menuText {
    -webkit-transform: rotate(45deg);
}
.wrapper3.rotate240 .menuText, 
.wrapper3.rotate300 .menuText {
    -webkit-transform: rotate(90deg);    
}
