<!-- <script src="jquery.js"></script> -->
<script type="text/javascript" src="../scripts/jQuery2.0.3.js"></script>
<script type="text/javascript" src="../scripts/GlobalFunctions.js"></script>
<script type="text/javascript" src="../scripts/setupRotation.js"></script>
<script type="text/javascript" src="../scripts/calculateConnectorPlacement.js"></script>

<!-- <div id="dummy"></div> -->

<div id="menu">
    <!-- <div class="middleSquare"></div> -->
    <input type="checkbox" id="openOrClosed">
    <div class="menuItemWrapper wrapper1 rotate300">
        <div id="MI1" class="menuItem">
            <div class="connectorContainer">
                <div class="connector conSevenFive"></div>
                <div class="connector conSevenFive">
                    <div class="menuText">Some random text</div>
                </div>
            </div>
        </div>              
    </div>
    <div class="menuItemWrapper wrapper1 rotate360">
        <div id="MI2" class="menuItem">  
            <div class="connectorContainer">
                <div class="connector conOneFive"></div>
                <div class="connector conOne">
                    <div class="menuText">Some random text</div>
                </div>
            </div>
        </div>
    </div>
    <div class="menuItemWrapper wrapper1 rotate420">
        <div id="MI3" class="menuItem">    
            <div class="connectorContainer">
                <div class="connector conTwo">
                    <div class="menuText">Some random text</div>
                </div>
            </div>
        </div>        
    </div>



    <div class="menuItemWrapper wrapper2 rotate60">
        <div class="menuItem">  
            <div class="connectorContainer">
                <div class="connector conSevenFive"></div>
                <div class="connector conFive">
                    <div class="menuText">Some random text</div>
                </div>
            </div>               
        </div>          
    </div>
    <div class="menuItemWrapper wrapper2 rotate120">
        <div class="menuItem">
            <div class="connectorContainer">
                <div class="connector conOneFive"></div>
                <div class="connector conOne">
                    <div class="menuText">Some random text</div>
                </div>
            </div>
        </div>         
    </div>
    <div class="menuItemWrapper wrapper2 rotate180">
        <div class="menuItem">
            <div class="connectorContainer">
                <div class="connector conTwo">
                    <div class="menuText">Some random text</div>
                </div>
            </div>       
        </div>         
    </div>



    <div class="menuItemWrapper wrapper3 rotate180">
        <div class="menuItem">  
            <div class="connectorContainer">
                <div class="connector conSevenFive"></div>
                <div class="connector conFive">
                    <div class="menuText">Some random text</div>
                </div>
            </div>                           
        </div>          
    </div>
    <div class="menuItemWrapper wrapper3 rotate240">
        <div class="menuItem">   
            <div class="connectorContainer">
                <div class="connector conOneFive"></div>
                <div class="connector conFive">
                    <div class="menuText">Some random text</div>
                </div>
            </div>
        </div>          
    </div>
    <div class="menuItemWrapper wrapper3 rotate300">
        <div class="menuItem">  
            <div class="connectorContainer">
                <div class="connector conOne">
                    <div class="menuText">Some random text</div>
                </div>
            </div>                  
        </div>        
    </div>     
</div>