<!-- <script src="jquery.js"></script> -->
<script type="text/javascript" src="../scripts/jQuery2.0.3.js"></script>
<script type="text/javascript" src="../scripts/GlobalFunctions.js"></script>
<script type="text/javascript" src="../scripts/setupRotation.js"></script>
<script type="text/javascript" src="../scripts/calculateConnectorPlacement.js"></script>

<div id="menu">

    <div class="menuItemWrapper wrapper1 rotate300">
        <div id="MI1" class="menuItem">
            <!-- <div class="testDot"></div> -->
            <div class="connector"></div>
        </div>              
    </div>
    <div class="menuItemWrapper wrapper1 rotate360">
        <div id="MI2" class="menuItem">  
            <!-- <div class="testDot"></div>         -->
            <div class="connector"></div>
        </div>
    </div>
    <div class="menuItemWrapper wrapper1 rotate420">
        <div id="MI3" class="menuItem">    
            <!-- <div class="testDot"></div>      -->
            <div class="connector"></div>
        </div>        
    </div>



    <div class="menuItemWrapper wrapper2 rotate60">
        <div class="menuItem">  
            <div class="connector"></div>                  
        </div>          
    </div>
    <div class="menuItemWrapper wrapper2 rotate120">
        <div class="menuItem">
            <div class="connector"></div>
        </div>         
    </div>
    <div class="menuItemWrapper wrapper2 rotate180">
        <div class="menuItem">
            <div class="connector"></div>         
        </div>         
    </div>



    <div class="menuItemWrapper wrapper3 rotate180">
        <div class="menuItem">                     
        </div>          
    </div>
    <div class="menuItemWrapper wrapper3 rotate240">
        <div class="menuItem">   
            <div class="connector"></div>
        </div>          
    </div>
    <div class="menuItemWrapper wrapper3 rotate300">
        <div class="menuItem">  
            <div class="connectorBent">
                <div class="bentInner"/>
                <div class="straightInner"/>
            </div>                     
        </div>        
    </div>     
</div>