<!-- <script src="jquery.js"></script> -->
<script type="text/javascript" src="../scripts/jQuery2.0.3.js"></script>
<script type="text/javascript" src="../scripts/setupRotation.js"></script>

<div id="menu">
    <div class="menuButton"></div>

    <div class="menuItemWrapper wrapper1 rotate330">
        <div class="menuItem">         
        </div>              
    </div>
    <div class="menuItemWrapper wrapper1 rotate390">
        <div class="menuItem">          
        </div>
    </div>
    <div class="menuItemWrapper wrapper1 rotate450">
        <div class="menuItem">          
        </div>        
    </div>



    <div class="menuItemWrapper wrapper2 rotate90">
        <div class="menuItem">
            <div class="rightTrapezoid">
                <div class="outlineMaker"/>
            </div>            
        </div>          
    </div>
    <div class="menuItemWrapper wrapper2 rotate150">
        <div class="menuItem">           
        </div>         
    </div>
    <div class="menuItemWrapper wrapper2 rotate210">
        <div class="menuItem">          
        </div>         
    </div>



    <div class="menuItemWrapper wrapper3 rotate210">
        <div class="menuItem">
            <div class="rightTrapezoid">
                <div class="outlineMaker"/>
            </div>            
        </div>          
    </div>
    <div class="menuItemWrapper wrapper3 rotate270">
        <div class="menuItem">         
        </div>          
    </div>
    <div class="menuItemWrapper wrapper3 rotate330">
        <div class="menuItem">
            <div class="rightTrapezoid">
                <div class="outlineMaker"/>
            </div>
            <span>WORDSWORDSWORDS</span>
        </div>        
    </div>     
</div>