 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>





<script type="text/javascript" src="../scripts/jQuery2.0.3.js"></script>
<script type="text/javascript" src="../scripts/GlobalFunctions.js"></script>
<script type="text/javascript" src="../scripts/calculateConnectorPlacement.js"></script>

<script type="text/javascript" src="../scripts/rotationtest.js"></script>

<link rel="stylesheet" type="text/css" href="../styles/rotationtest.css">
<div id="target" class="gridBox">
	<div class="testMenuItem">
		<div id="blueDot"></div>
	</div>
	<div class="gridLineH"></div>
	<div class="gridLineV"></div>
	<!-- <div class="centerPoint"></div> -->
</div>
<input id="fillMe" type="text"></input>
<input id="amount" type="text"></input>
<div id="slider"></div>